# Airflow container user/group IDs
AIRFLOW_UID=50000
AIRFLOW_GID=0

# AWS Credentials for S3 file ingestion
USER_ACCESS_KEY_ID=your-aws-access-key-id
USER_SECRET_ACCESS_KEY=your-aws-secret-access-key
REGION=us-west-2

# PostgreSQL RDS Connection
DB_ENDPOINT=your-rds-endpoint.us-west-2.rds.amazonaws.com
DB_NAME=postgres
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_PORT=5432

# External Financial Data API Keys
FRED_API_KEY=your_fred_api_key
APCA_API_KEY=your_alpaca_api_key
APCA_API_SECRET_KEY=your_alpaca_api_secret_key

# Airflow Web UI Admin Credentials
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# Slack Alerting Settings (for pipeline notifications)
SLACK_BOT_TOKEN=xoxb-your-slack-bot-token
SLACK_CHANNEL_ID=your_slack_channel_id

# Interactive Brokers (IBKR) Flex Query API Tokens
GRAD_TOKEN="your_grad_token"
UNDERGRAD_TOKEN="your_undergrad_token"
QUANT_TOKEN="your_quant_token"
BC_TOKEN="your_bc_token"
QUANT_PAPER_TOKEN="your_quant_paper_token"
